img {
  max-width: 300px;
  height: auto;
}

label > input {
  display:none;	/* アップロードボタンのスタイルを無効にする */
}

label {
  color: #AAAAAA;	/* ラベルテキストの色を指定する */
  background-color: #006DD9;/* ラベルの背景色を指定する */
  padding: 10px;	/* ラベルとテキスト間の余白を指定する */
  border: double 4px #AAAAAA;/* ラベルのボーダーを指定する */
}
